:root {
    --primari-text-color: #757575;
    --second-color: #212121;
    --accent-color: #2196f3;
    --whitw-color-texte: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primari-text-color);
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.16;
}

.nav-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--second-color)
}

.nav-logo-colored {
    color: var(--accent-color);
}

.nav-logo-light {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--whitw-color-texte)
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--second-color)
}

.nav-link:hover {
    color: var(--accent-color)
}

.contact-link {
    font-weight: 500;
    color: var(--second-color)
}

.contact-link:hover {
    color: var(--accent-color)
}

.contact-link-light {
    font-weight: 500;
    color: rgb(255, 255, 255, 0.6)
}

.contact-link-light:hover {
    color: var(--accent-color)
}

.sections-dark {
    background-color: #2F303A;
}

.titel-text {
    font-size: 44px;
    font-weight: 900;
    color: var(--whitw-color-texte)
}

.btn-primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    color: var(--whitw-color-texte)
}

.btn-primary {
    background-color: var(--accent-color)
}

.subtitle {
    font-weight: 700;
    color: var(--second-color)
}

.subtitle-portfolio {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--second-color)
}

.text {
    color: var(--primari-text-color)
}

.subtitel-big {
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.18;
    color: var(--second-color)
}

.address {
    color: var(--second-color)
}

.address-light {
    color: var(--whitw-color-texte)
}

.button-secondary {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    background: #F5F4FA;
    color: var(--second-color)
}

.button-secondary:focus {
    background-color: var(--accent-color);
    color: var(--whitw-color-texte)
}

.portfolio-item {
    color: var(--second-color)
}